body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 5rem;
    font-family: 'Courier New', Courier, monospace;
}
.header {
    font-weight: bold;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 1px black solid;
    width: 600px;
    height: 600px;
}

.container .box {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
}

.winner {
    font-size: 3rem;
    padding-top: 30px;
}